name: Build Desktop App

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-desktop:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read Version from version.properties
        id: read_version
        shell: bash
        run: |
          VERSION=$(grep 'appVersion' version.properties | cut -d'=' -f2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "App version is $VERSION"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Desktop Distribution
        run: ./gradlew :composeApp:packageReleaseDistributionForCurrentOS

      - name: Upload Artifact (Mac)
        if: runner.os == 'macOS'
        uses: actions/upload-artifact@v4
        with:
          name: jibe-mac-${{ env.VERSION }}
          path: composeApp/build/compose/binaries/main-release/dmg/*.dmg

      - name: Upload Artifact (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: jibe-windows-${{ env.VERSION }}
          path: composeApp/build/compose/binaries/main-release/exe/*.exe

  release:
    needs: build-desktop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Read Version from version.properties
        id: read_version
        run: |
          VERSION=$(grep 'appVersion' version.properties | cut -d'=' -f2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          name: Release Desktop v${{ env.VERSION }}
          draft: false
          prerelease: false
          files: |
            artifacts/jibe-mac-${{ env.VERSION }}/*.dmg
            artifacts/jibe-windows-${{ env.VERSION }}/*.exe
