name: Build Desktop App

on:
  workflow_dispatch:

jobs:
  build-desktop:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Desktop Distribution
        run: ./gradlew :composeApp:packageReleaseDistributionForCurrentOS

      - name: Upload Artifact (Mac)
        if: runner.os == 'macOS'
        uses: actions/upload-artifact@v4
        with:
          name: jibe-mac-dmg
          path: composeApp/build/compose/binaries/main-release/dmg/*.dmg

      - name: Upload Artifact (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: jibe-windows-msi
          path: composeApp/build/compose/binaries/main-release/msi/*.msi
